uL{
list-style-type: none;
}
.header__container{
        width: 1440px;
    height: 800px;
    flex-shrink: 0;
    background: #EEF7FB;
    display: flex;
    margin-top: 11px;


    img{
        width: 110px;
        height: 36px;
        flex-shrink: 0;
        margin-top: 33px;
    margin-left: 165px;
    }



    ul{
        justify-content: space-around;
        margin-top: 30px;
        align-items: center;
        display: flex;
        color: #232D22;
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 427px;
    gap: 22px;
    }


    button{
        color: #232D22;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 130px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #4e3c31;
    transition: all 0.5s;

    }

    button:hover{
        background:black;
        color:white;
    }
    &>img{
        width: 881px;
    height: 617px;
    flex-shrink: 0;
    }
    }